body>.app {
    background: #f5f6f6;
}

body>.app.text-page {
    background: #FFF;
}

header nav {
    background: #ffffff;
}

section>.content .button,
section>.content button {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00beff', endColorstr='#2f70b9');
}

section>.content .button:hover,
section>.content .button:focus,
section>.content button:hover,
section>.content button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0694d3', endColorstr='#00557a');
}

section>.content .button.orange,
section>.content button.orange {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6921e', endColorstr='#ed2623');
}

section>.content .button.orange:hover,
section>.content .button.orange:focus,
section>.content button.orange:hover,
section>.content button.orange:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed2623', endColorstr='#ed2623');
}

section>.content .button.gray,
section>.content button.gray {
    color: #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e1', endColorstr='#ccccc9');
}

section>.content .button.gray:hover,
section>.content .button.gray:focus,
section>.content button.gray:hover,
section>.content button.gray:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccccc9', endColorstr='#babab8');
}

#devlist .right .result-list .device .device-datas p.properties {
    line-height: 17px;
}

section>.content .table-wrapper {
    overflow: hidden;
}

section>.content .table-wrapper table tr td,
section>.content .table-wrapper table tr th {
    border-left: 1px solid #e4e5e6;
    padding: 10px 9px;
}

section>.content ul {
    list-style: disc;
}

section>.content ol {
    list-style: decimal outside;
}

.select-wrapper {
    position: relative;
    overflow: hidden;
}

.select-wrapper select {
    min-height: auto !important;
}

.error .label:before {
    background: red !important;
}

.select-wrapper select {
    position: relative;
    width: 100%;
    height: auto !important;
    max-height: 30px !important;
    padding: 0 20px 0 0 !important;
    margin-top: 2px;
}

.jquery-placeholder-fallback {
    color: #aaa;
}

html.ie7 fieldset.inline .select-wrapper {
    padding-right: 5px;
}

html.ie7 fieldset.inline .select-wrapper select {
    width: auto;
}

html.ie7 fieldset.inline input[type="text"],
html.ie7 fieldset.inline input[type="email"],
html.ie7 fieldset.inline input[type="phone"] {
    padding: 0 !important;
    height: 32px;
}

html.ie7 fieldset.inline button {
    height: 33px !important;
}

html.ie7 .checkbox-wrapper input {
    top: 0px;
}

html.ie7 .file-wrapper .helper {
    height: 21px !important;
}

html.ie7 .sidenote {
    padding: 1em !important;
}

html.ie7 .block section.formctl-moneyamount>div,
html.ie7 .block section.formctl-phonenum>div {
    *display: inline;
    zoom: 1;
}

.clear {
    display: block;
    clear: both;
}

div {
    position: static;
}

header .header-menu>li>div {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

header .segment-menu li.lang a {
    padding-left: 60px;
}

footer .footer-links .col {
    width: 176px;
}

.content .table-wrapper table thead td {
    background: #00ace7;
}

.content .table-wrapper.gray thead td,
.content .table-wrapper.gray thead th {
    background: #e4e4e2;
    color: #000;
}

section.main .promo {
    background: #fff;
    border: 1px solid #eff1f1;
}

.app .link-widget {
    border: 1px solid #e2e4e5;
}

section>.content .table-wrapper {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    border: none 0px;
}

section>.content .table-wrapper .table {
    margin: 0;
    padding: 0;
}

section>.content .table-wrapper table {
    border-collapse: separate;
    border-spacing: 0px !important;
    margin: 0px !important;
    padding: 0px;
    width: 100%;
    font: 14px/20px arial;
    border: none 0px;
    border-right: solid 1px #e4e5e6;
    border-bottom: solid 1px #e4e5e6;
    zoom: 1;
}

section>.content .table-wrapper th,
section>.content .table-wrapper td {
    margin: 0px !important;
    zoom: 1;
}

section>.content .table-wrapper table caption {
    padding: 10px;
    box-shadow: none;
    background: #00ace7;
}

section>.content .table-wrapper table thead {
    background: #00ace7;
    color: #fff;
}

section>.content .table-wrapper table thead tr {
    border: none 0px;
}

section>.content .table-wrapper table thead td,
section>.content .table-wrapper table thead th {
    box-shadow: none;
    box-shadow: none;
    border-left: solid 1px #009ACF;
    border-top: solid 1px #009ACF;
    border-right: solid 1px #33BDEC;
    border-bottom: solid 1px #33BDEC;
}

section>.content .table-wrapper table tbody td {
    box-shadow: none;
    box-shadow: none;
    border-left: solid 1px #e4e5e6;
    border-top: solid 1px #e4e5e6;
    border-right: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
}

section>.content .table-wrapper table tbody td.highlight {
    box-shadow: none;
    border-left: solid 1px #E0E1E6;
    border-top: solid 1px #E0E1E6;
    border-right: solid 1px #DFF2F9;
    border-bottom: solid 1px #DFF2F9;
}

section>.content .table-wrapper table tr {
    background: none;
    border: none 0px;
}

section>.content .table-wrapper table td,
section>.content .table-wrapper table th {
    padding: 10px;
    box-shadow: none;
}

section>.content .table-wrapper table td img {
    margin: -10px;
}

section>.content .table-wrapper table td.nowrap {
    white-space: nowrap !important;
}

section>.content .table-wrapper.gray thead {
    background: #e4e4e2;
}

section>.content .table-wrapper.gray thead td,
section>.content .table-wrapper.gray thead th {
    color: #000;
    text-shadow: 0 0 0 transparent;
}

section>.content .table-wrapper.gray tbody td.highlight {
    border-left: solid 1px #e0e1e2;
    border-top: solid 1px #e0e1e2;
    border-right: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
}

html.lt-ie8 .grid.col2>.box-row {
    width: 49%;
}

html.lt-ie8 .content .ugyfelszolgalat .col3.grid .box-row {
    padding: 0 0 10px 0;
}

html.lt-ie8 .content .ugyfelszolgalat .col3.grid .box-row .select-wrapper {
    height: 32px;
}

html.lt-ie8 .checkbox-openable {
    position: relative !important;
}

html.lt-ie8 .openable {
    position: relative;
}

html.lt-ie8 .openable>h3 {
    padding-left: 20px;
}

html.lt-ie8 .openable>.contents {
    max-height: 999em !important;
}

html.lt-ie8 header .header-menu>li>div .col,
html.lt-ie8 footer .footer-links .col {
    width: 18% !important;
}

html.lt-ie8 .grid {
    zoom: 1;
}

html.lt-ie8 footer .social-links .link-wrapper a {
    position: relative;
    font-size: 36px !important;
    line-height: 70px !important;
    vertical-align: middle;
    text-align: center;
}

html.lt-ie8 .breadcrumb a {
    *zoom: expression(this.runtimeStyle.zoom="1", this.innerHTML=this.innerHTML +" &nbsp; &rsaquo; &nbsp; ");
}

html.lt-ie8 .layer.login-section {
    z-index: 999999;
}

html.lt-ie8 .overlay-container [data-closable] button.close {
    font-size: 24px !important;
}

html.lt-ie8 .checkbox-wrapper.opener {
    font: 15px/20px 'MyfontRegular', arial, sans-serif;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00beff', endColorstr='#2f70b9');
    height: 27px !important;
    margin: 0px 5px;
    padding: 2px 10px;
    cursor: pointer;
}

html.lt-ie8 .checkbox-wrapper.opener input {
    width: 100%;
    height: 33px;
    filter: alpha(opacity=1);
}

html.lt-ie8 .checkbox-wrapper.opener span {
    width: 100%;
    color: white;
    padding: 0;
    line-height: 30px;
}

html.lt-ie8 .checkbox-wrapper.opener:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0694D3', endColorstr='#00557A');
}

html.lt-ie8 .highlight {
    zoom: 1;
}

html.lt-ie8 body {
    position: relative;
}

html.lt-ie8 div.app,
html.lt-ie8 header,
html.lt-ie8 section.main,
html.lt-ie8 footer {
    position: relative;
    display: block;
    overflow: visible;
}

html.lt-ie8 #carousel .navigation .list-wrapper ul {
    overflow: hidden;
    display: block;
    zoom: 1;
    vertical-align: top;
    padding: 0px;
    margin-top: -12px;
}

html.lt-ie8 #carousel .navigation .list-wrapper ul li {
    position: relative;
    display: inline;
    zoom: 1;
    overflow: hidden;
    vertical-align: top;
}

html.lt-ie8 section.main .promo.device .info>strong {
    position: relative;
    display: block;
    overflow: hidden;
}

html.lt-ie8 section.flyer .content .cookiewarning button.ok {
    display: inline-block;
    overflow: hidden;
    zoom: 1;
    width: 40px;
    left: auto !important;
    right: 15px !important;
}

html.lt-ie8 .overlay-container .cookiewarning button.close {
    line-height: 20px;
    vertical-align: middle;
}

html.ie8 .overlay-container [data-closable] button.close {
    background-color: white;
    background-image: url(/assets/i/overlay-close.png);
    filter: none !important;
    color: transparent !important;
    font-size: 0;
}

html.ie8 .overlay-container [data-closable] button.close:hover {
    background-color: #0694D3;
}