body>.app {
    background: #f5f6f6;
}

body>.app.text-page {
    background: #FFF;
}

header nav {
    background: #ffffff;
}

section>.content .button,
section>.content button {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00beff', endColorstr='#2f70b9');
}

section>.content .button:hover,
section>.content .button:focus,
section>.content button:hover,
section>.content button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0694d3', endColorstr='#00557a');
}

section>.content .button.orange,
section>.content button.orange {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6921e', endColorstr='#ed2623');
}

section>.content .button.orange:hover,
section>.content .button.orange:focus,
section>.content button.orange:hover,
section>.content button.orange:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed2623', endColorstr='#ed2623');
}

section>.content .button.gray,
section>.content button.gray {
    color: #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e1', endColorstr='#ccccc9');
}

section>.content .button.gray:hover,
section>.content .button.gray:focus,
section>.content button.gray:hover,
section>.content button.gray:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccccc9', endColorstr='#babab8');
}

#devlist .right .result-list .device .device-datas p.properties {
    line-height: 17px;
}

section>.content .table-wrapper {
    overflow: hidden;
}

section>.content .table-wrapper table tr td,
section>.content .table-wrapper table tr th {
    border-left: 1px solid #e4e5e6;
    padding: 10px 9px;
}

section>.content ul {
    list-style: disc;
}

section>.content ol {
    list-style: decimal outside;
}